.contact-entry .details-container {
    margin: 20px;
}

.contact-entry .icons {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact-entry .description {
    font-weight: 500;
}

.contact-entry .icons a {
    /* text-decoration: none; */
    color: var(--colour1);
}

.contact-entry .icons a:hover {
    color: var(--colour3);
}

.contact-entry .about-page-link {
    color: var(--colour1);
}

.contact-entry .about-page-link:hover {
    color: var(--colour3);
}

.contact-entry .fa {
    font-size: 1.5em;
}

.contact-entry .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-entry .email-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-entry .email-phone span {
    margin: 10px 0;
}

.contact-entry .description:not(.first-paragraph) {
    margin-top: 10px;
}

.details {
    width: 100%;
}

@media (max-width: 400px) {
    .contact-entry .email {
        font-size: 0.8em !important;
    }
}

@media (max-width: 330px) {
    .contact-entry .email {
        font-size: 0.7em !important;
    }
}