.experience-entry .details-container {
    width: 60%;
    margin: 20px auto;
}

.entry-card {
    overflow: auto;
}

.job-role {
    margin-bottom: 10px;
}

.title-container {
    overflow: auto;
}

.company-name {
    margin: 10px 0;
}

@media (max-width: 400px) {
    .experience-entry > .details-container {
        width: 80%;
    }
}