.experience-entry .entry-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.experience-entry .entry-card {
    width: 40%;
}

.entry-card {
    overflow: auto;
}

.job-role {
    /* margin-bottom: 10px; */
    font-weight: 600;
}

.job-dates {
    margin: 10px auto;
}

.title-container {
    overflow: auto;
}

.company-name {
    margin: 10px 0;
}

@media (max-width: 400px) {
    .experience-entry>.entry-container {
        width: 80%;
    }
}