.home-entry .details-container {
    width: 90%;
    margin: 20px auto;
}

.home-entry .details {
    font-weight: 500;
    margin: 0 auto 20px auto;

}

.home-entry .about-page-link {
    color: var(--colour3);
    text-decoration: none;
}

.home-entry .about-page-link:hover {
    color: var(--colour5);
}

.home-page-image {
    float: left;
    width: 50% !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media (max-width: 440px) {
    .home-page-image {
        width: 100%;
    }
}

@media (min-width: 1900px) {
    .home-page-image {
        width: 30% !important;
    }
}