.project-entry .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-container .fa-github {
    font-size: 2.5em;
    color: var(--colour3);
}

.title-container .fa-github:hover {
    color: var(--colour2);
}

.title-container .fa-github.invisible {
    visibility: hidden;
}

.project-entry .details {
    color: var(--colour1);
    font-weight: 700;
    margin-right: 25px;
}

.project-entry .image-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-entry a {
    text-decoration: none;
}

.project-entry a>div.title:hover {
    color: var(--colour2);
}