:root {
    --imageSize: 300px;
}

div.entry-container {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 4px 8px 0 rgba(70, 124, 177, 0.25),
        0 6px 20px 0 rgba(70, 124, 177, 0.25);
    width: 50%;
    height: calc(var(--imageSize) + 100px);
    /* border-radius: 25px; */
    border-radius: 5px;
    margin: auto;
    position: relative;
    background-color: var(--colour2);
}

body {
    font-family: 'JetBrains Mono',
        monospace;
}

.title {
    font-size: 30px;
    font-weight: 800;
    color: var(--colour3);
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    width: 45%;
    background-color: #ffd485;
    border-radius: 10px;
}

.details {
    width: 37%;
    margin-left: 20px;
    color: var(--colour1);
    font-weight: 700;
}

.details>li {
    margin-bottom: 20px;
}

.text-container {
    margin: 0;
    position: absolute;
    left: 0;
    top: 42%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-container {
    margin: 0;
    position: absolute;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35%;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}