:root {
    --imageSize: 300px;
}

div.entry-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: calc(var(--imageSize) + 100px);
    border-radius: 25px;
    margin: auto;
    position: relative;
    background-color: var(--colour2);
}

body {
    font-family: 'JetBrains Mono',
    monospace;
}

.title {
    font-size: 40px;
    font-weight: 800;
    color: var(--colour3);
    text-align: center;
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    width: 45%;
}

.details {
    width: 37%;
    margin-left: 20px;
}

.details > li {
    margin-bottom: 20px;
}

.text-container {
    margin: 0;
    position: absolute;
    left: 0;
    top: 42%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-container {
    margin: 0;
    position: absolute;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image {
    width: var(--imageSize);
    border-radius: 25px;
}